@tailwind base;
@tailwind components;
@tailwind utilities;


.carousel .control-next.control-arrow::before {
    border-left: 22px solid #fff;
}
.carousel .control-prev.control-arrow::before {
    border-right: 22px solid #fff;
}
.carousel .control-arrow::before, .carousel.carousel-slider .control-arrow::before {
    width: 100%;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
}

.carousel .carousel-status {
    color: black;
    text-shadow: none;
    font-size: 1rem;
    color: #fff;
    background: rgb(55,48,163);
    font-weight: 600;
    border-radius: 5px;
    padding: 0 8px;
}
.carousel.carousel-slider .control-arrow {
    background: rebeccapurple;
    height: 44px;
    width: 44px;
    border-radius: 20%;
    top: 40%;
    display: flex;
}
.carousel .control-dots .dot {
    width: 14px;
    height: 14px;
    background: violet;
    opacity: .4;
    margin:0 4px;
    box-shadow: none
}

@layer base {
    html,
    body,
    #__next,
    #main {
        @apply min-h-screen font-base text-slate-800 bg-cyan-50
    }
    h2 {
        @apply leading-none mb-4
    }
    p, li {
        @apply text-lg;

        & ~ p {
            @apply mt-4
        }
    }    

    .open {
        @apply overflow-hidden
    }
}

@layer components {
    
    .checkout-details {
        p {
            @apply flex py-2 justify-between;

            & + p {
                @apply mt-2
            }
        }
    }
    .radio-buttons {
        @apply flex ml-0;

        label span {
            @apply cursor-pointer px-3 py-2 inline-block leading-none rounded-full border-2 text-xl font-semibold border-indigo-400 first-of-type:ml-0
        }

        input {
            @apply w-0 sr-only opacity-0;
            &:checked {
                + label span {
                    @apply bg-emerald-700 border-green-600 text-white
                }
            }
            &[aria-disabled = true] {
                + label span {
                    @apply bg-slate-200 text-slate-400 border-slate-300 cursor-default
                }
            }
        }
    }
    .alert-banner,
    .policy {
        a {
            @apply text-blue-700 underline
        }
    }
}

@layer utilities {
    .tag-link {
        @apply bg-indigo-800 border-2 border-sky-700 text-white rounded px-2 py-1 capitalize tracking-wide focus:underline hover:underline focus:rounded-3xl hover:rounded-3xl transition-all
    }
    .text-link {
        @apply border-0 text-indigo-700 underline hover:bg-indigo-700 hover:text-white p-1 transition-all
    }
    .cart-image {
        span {
            @apply rounded-full
        }
    }
    .ghost-link {
        @apply text-white border-4 text-xl rounded font-semibold p-3 uppercase tracking-wide bg-black/30 hover:underline hover:bg-white/20 transition-colors;

        &._small {
            @apply text-base
        }

        &._light {
            @apply text-inherit border-slate-700 bg-black/20 hover:bg-black/50 hover:text-slate-200
        }
    }
    .container {
        @apply mx-auto px-dynamic-container-x w-full max-w-[2000px];

        > .container {
            @apply px-0
        }
    }

    .container-grid {
        @apply grid grid-cols-4 grid-flow-row
    }

    .content-container {
        @apply mx-auto px-dynamic-container-x w-full max-w-[1400px] justify-around;

        > .container {
            @apply px-0
        }
    }

    .content {
        p {
            @apply lg:text-xl tracking-wide
        }
    }
}